.toDoCard {
  border: 1px solid rgb(96, 96, 255);
  height: 25px;
  width: 250px;
  font-size: 24px;
  margin: 10px;
  padding: 4px;
  border-radius: 5px;
}
.toDoCard:hover {
  background: rgb(243, 243, 243);
}
